<div>
  <h1 class='story-title'>A strange story by <%= @story.author_name %></h1>

  <div class='story-text'>
    <%= simple_format(@story.to_s) %>
  </div>

  <nav class='nav'>
    <%= link_to 'This is amazing', story_path(id: @story.random_other_author), class: 'btn' %>
    <%= link_to 'That’s enough', root_path, class: 'btn' %>
  </nav>
</div>
